.blur-circle {
    position: absolute;
    width: 400px;
    background: #0ff; /* Bright color for the glow */
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.8; /* Adjust opacity for subtlety */
    z-index: 2; /* Place behind the content */
}
.text-gradient {
    background: linear-gradient(90deg, #ff6b6b, #24c82c, #2549ff);
    background-size: 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 2s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 100;
    font-style: normal;
    
  }
  
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: pp_neue_machinaplain_regular;
    font-variant-ligatures: none;
}
html,body{
    height: 100%;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
    cursor: url(Figma\ Cursor.png), auto;
    
}
#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(Slide\ 16_9\ -\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;

}
#page>img{
    position: absolute;
    right: 5%;
    top: 52%;
    transform: translateY(-50%);
    width: 50%;
}
#page>#nav{
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    padding: 0px 80px;
    z-index: 9;
    height: 10%;
    width: 100%;
    background: rgba(0 , 0, 0, .1);
    backdrop-filter: blur(10px);
}
#nav>img{
    width: 50px;
}

#center-nav{
    display: flex;
    gap: 20px;
}
#center-nav>a {
    color: white;
}
#center-nav>a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 18px;
}
#nav>input{
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid #dadada;
    text-transform: uppercase;
}
#icons>a {
    color: white;
    font-size: 30px;
    text-decoration: none;
}
#text{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 300px;
    padding-top: 45px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#header-text{
    font-size: 40px;
    line-height: 1;
    color: white;
    text-align: center;
    line-height: 1.2;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 10px;
}

#b1{
    padding: 10px 22px ;
    border-radius: 10px;
    border: none;
    font-weight: 500;
}
#b2{
    padding: 10px 22px ;
    border-radius: 10px;
    border: none;
    font-weight: 500;
}

#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(Slide\ 16_9\ -\ 2\ \(1\).png);
    background-repeat: nocover;
    background-size: cover;
}
#divide_page1{
    display: flex;
    height: 100%;
    width: 100%;
}
#left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
#left>button_row1,button_row2{
    align-items: center;
}
#button_row1{
    display: flex;
    gap: 5px;
    height: 40px;
    justify-content: center;
}
#button_row1>button {
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 7px;
    border: none;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0 , 0, 0, .2);
    border: .1px solid rgba(255, 255, 255, .3);
    border-right: .1px solid rgba(255, 255, 255, .2);
    border-bottom: .1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 20px;
}
#button_row2{
    display: flex;
    gap: 5px;
    height: 40px;
    justify-content: center;
}
#button_row2>button{
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 7px;
    border: none;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0 , 0, 0, .2);
    border: .1px solid rgba(255, 255, 255, .3);
    border-right: .1px solid rgba(255, 255, 255, .2);
    border-bottom: .1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 20px;
}
#tools_heading{
    color: white;
    text-align: left;
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}
#button_row3{
    display: flex;
    gap: 10px;
    justify-content: center;
}
#button_row3>button{
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 7px;
    border: none;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0 , 0, 0, .2);
    border: .1px solid rgba(255, 255, 255, .3);
    border-right: .1px solid rgba(255, 255, 255, .2);
    border-bottom: .1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    color: white;
    height: 60px;
    width: 60px;
}
#button_row4 {
    display: flex;
    gap: 10px;
    justify-content: center;
}
#button_row4>button {
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 7px;
    border: none;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0 , 0, 0, .2);
    border: .1px solid rgba(255, 255, 255, .3);
    border-right: .1px solid rgba(255, 255, 255, .2);
    border-bottom: .1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    color: white;
    height: 60px;
    width: 60px;
}
#qualifications {
    color: white;
    text-align: left;
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}
#button_row5{
    display: flex;
    gap: 10px;
    justify-content: center;
}
#button_row5>button {
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 7px;
    border: none;
    background: rgba(243, 242, 242, 0.1);
    box-shadow: 0 25px 45px rgba(0 , 0, 0, .2);
    border: .1px solid rgba(255, 255, 255, .3);
    border-right: .1px solid rgba(255, 255, 255, .2);
    border-bottom: .1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    color: white;
    height: 90px;
    width: 80px;
}
#right {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
#right>.box {
    border-top: 2px solid white;
    height: 33.3%;
    width: 80%;
}
.box{
    display: flex;
    align-items: center;
}
.box>#title {
    color: white;
    font-size: 30px;
    margin-left: 20px;
    width: 400px;
}
.box>#numbers{
    color: white;
    font-size: 20px;
}
#circle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box>#circle{
    background-color: rgba(15, 15, 15, 0.2);
    box-shadow: 0 0px 15px rgba(77, 199, 226, .4);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    transition: 1s;
}
.box>#circle:hover{
    background-color: #4DC7E2;
    color: black;
}
.box>#circle>i:hover{
    color: black;
}
.box>#circle>i{
    font-size: 20px;
    color: white;
}
#pagev2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(Slide\ 16_9\ -\ 3\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
#divide_pagev2 {
    display: flex;
}
#left2{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#left2>.box2 {
    display: flex;
    border-top: 2px solid white;
    margin-top: 50px;
    margin-left: 40px;
    height: 150px;
    width: 80%;
    align-items: center;
    position: relative;
}
#role_company{
    display: flex;
    flex-direction: column;
}
#date{
    color: white;
    width: 120px;
}
#role{
    margin-left: 30px;
    margin-bottom: 10px;
    color: white;
    font-size: 22px;
}
#company{
    margin-left: 30px;
    color: white;
    line-height: 1.3;
}


#right2{
    
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#work_details1{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    gap: 3px;
    
}
#work_details2{
    margin-top: 40px;
    gap: 3px;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    background-image: url(Slide\ 16_9\ -\ 2\ \(1\).png);
    background-size: cover;

}
.lists{
    font-family: Macondo;
    font-size: 15px;
}
#project{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}
.projects{
    border-top: 2px solid #ffffff;
    height: 100%;
    width: 31%;
}
#text3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 30%;
    width: 100%;
}
#text3>h1{
    color: white;
}
#text4>h1{
    color: white;
}
#image{
    height: 70%;
    width: 100%;
}
#image>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.p2{
    position: relative;
    top: -20%;
}
.p3{
    position: relative;
    top: -50%;
}
#text4{
    position: absolute;
    top: 10%;
    left: 5%;
    height: 20%;
    width: 30%;
}
#text4>h1{
    margin-top: 20px;
    font-size: 50px;
}

#page3{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(Slide\ 16_9\ -\ 4.png);
    background-size: cover;
}
#left3{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 80px;
    margin-left: 60px;
}
#left3>div{
    color: white;
    font-size: 20px;
}
.about {
    margin-bottom: 0px;
}


